<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".EspressoDeviceActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:label="Espresso Device Activity"
           />
    </application>

</manifest>